.task-navbar {
  background-color: $secondary-white;
  margin-bottom: $sp-12;
  padding: $sp-12;

  &__button {
    background-color: $secondary-black;
    border: none;
    color: $primary-white;
    cursor: pointer;
    padding: $sp-4 $sp-12;
  }

  &__filters {
    & > .task-navbar__filter {
      background-color: $secondary-white;
      border: none;
      cursor: pointer;
      margin-right: $sp-4;
      padding: $sp-4 $sp-12;
      transition: background-color $tt-03;

      &:hover {
        background-color: $tartiary-gray
      }

      &:not(:last-child) {
        margin-right: $sp-4;
      }
    }
  }
}
