.task {
  &__save-button {
    background-color: $colorButtonPrimary;
    border: none;
    color: $colorPrimaryWhite;
    cursor: pointer;
    font-size: calc($sp-2 * 7);
    justify-self: end;
    padding: calc($sp-2 * 2.5) calc($sp-2 * 5);

    &-disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__textarea {
    border: none;
    font-size: calc($sp-2 * 7);
    height: 70%;
    resize: none;
    width: 98%;
  }
}
