@import "../../styles/variables";
@import "../../styles/colors";

.task {
  &__textarea {
    width: 98%;
    height: 70%;
    resize: none;
    border: none;
    font-size: $sp-2 * 7;
  }

  &__save-button {
    justify-self: end;
    padding: $sp-2 * 2.5 $sp-2 * 5;
    background-color: $buttonPrimary;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: $sp-2 * 7;

    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
