$colorPrimaryBlack: #000000;
$colorSecondaryBlack: #333333;
$colorPrimaryWhite: #ffffff;
$colorSecondaryWhite: #f2f2f2;
$colorPrimaryGray: gray;
$colorSecondaryGray: lightgray;
$colorTartiaryGray: #cccccc;
$colorButtonPrimary: #007bff;
