$colorPrimaryBlack: #000000;
$colorSecondaryBlack: #333333;
$colorPrimaryWhite: #ffffff;
$colorSecondaryWhite: #f2f2f2;
$colorPrimaryGray: #808080;
$colorSecondaryGray: #D3D3D3;
$colorTartiaryGray: #cccccc;
$colorButtonPrimary: #007bff;
