$primary-black: #000000;
$secondary-black: #333333;
$primary-white: #ffffff;
$secondary-white: #f2f2f2;
$primary-gray: #808080;
$secondary-gray: #D3D3D3;
$tartiary-gray: #cccccc;
$task-green: #0BC375;
$button-primary: #007bff;
