.task-navbar {
  align-items: center;
  background-color: $colorSecondaryWhite;
  display: flex;
  justify-content: space-between;
  margin-bottom: $sp-12;
  padding: $sp-12;

  &__button {
    background-color: $colorSecondaryBlack;
    border: none;
    color: $colorPrimaryWhite;
    cursor: pointer;
    padding: $sp-4 $sp-12;
  }

  &__filters {
    display: flex;

    & > .task-navbar__filter {
      background-color: $colorSecondaryWhite;
      border: none;
      cursor: pointer;
      margin-right: $sp-4;
      padding: $sp-4 $sp-12;
      transition: background-color $tt-03;

      &:hover {
        background-color: $colorTartiaryGray
      }

      &:not(:last-child) {
        margin-right: $sp-4;
      }
    }
  }
}
