.task-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $sp-12;
  background-color: $secondaryWhite;
  margin-bottom: $sp-12;

  &__button {
    padding: $sp-4 $sp-12;
    background-color: $secondaryBlack;
    color: $primaryWhite;
    border: none;
    cursor: pointer;
  }

  &__filters {
    display: flex;

    & > .task-navbar__filter {
      padding: $sp-4 $sp-12;
      background-color: $secondaryWhite;
      border: none;
      cursor: pointer;
      transition: background-color $tt-03;

      &:hover {
        background-color: $tartiaryGray
      }

      &:not(:last-child) {
        margin-right: $sp-4;
      }
    }
  }
}
